language: java
jdk:
 - oraclejdk7
script: mvn clean install --batch-mode
matrix:
  allow_failures:
    - jdk: oraclejdk7
branches:
  only:
    - master
notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org##ehealth"
    template:
      - "[%{repository}] [%{commit}] [%{author}] %{message} - %{build_url}"

